fastapi
uvicorn
opencv-python
numpy
huggingface-hub
tqdm
matplotlib
pydantic
python-multipart
sqlalchemy
ultralytics
torch
pillow
leaflet
databases
aiosqlite
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
requests